#       +-+-+-+-+-+ +-+-+-+ +-+-+-+-+-+
#        PYTHON VERSION 3.8.2 REQUIRED
#       +-+-+-+-+-+ +-+-+-+ +-+-+-+-+-+
#
# INSTALL PYTHON 3.8.2 ==> 

# pip install -r requirements.txt to install the dependencies
